.dice-total.succes-critique {
    color: blueviolet;
}

.dice-total.succes {
    color: green;
}

.dice-total.succes-partiel {
    color: darkorange;
}

.dice-total.echec {
    color: black;
}

.dice-total.echec-crtique {
    color: red;
}
