.dice-roll {

    .infos {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 5px;

        .competence, .caracteristique, .modificateur {
            display: flex;
            flex-direction: row;
        }

        div > span.titre {
            text-decoration: underline;
            flex: 1;
        }

        div.valeur {
            flex: 1;

            span.value {
                font-weight: bold;
                flex: 1;
                text-transform: capitalize;
            }
            span.extra {
                font-weight: unset;
                flex: none;
            }
        }
    }

    .dice-result {

        .dice-formula {
            span.titre {
                font-size: 16px;
                text-decoration: underline;
            }

            span.value {
                padding-left: 5px;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .dice-total.succes-critique {
            color: blueviolet;
        }

        .dice-total.succes {
            color: green;
        }

        .dice-total.succes-partiel {
            color: darkorange;
        }

        .dice-total.echec {
            color: black;
        }

        .dice-total.echec-critique {
            color: red;
        }
    }

}
