<form class="{{cssClass}} crb-style{{#if isProficiencyLocked}} proficiency-lock{{/if}}" autocomplete="off">
    <aside>
        <img class="logo" src="systems/exit-nihilo/assets/exit-nihilo_logo.webp" height="56" alt="" srcset="" />
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
        </div>
    </aside>

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation" data-group="primary">
    </nav>

    <!-- BODY -->
    <section class="sheet-body">
        <section class="sheet-content">
        </section>
    </section>
</form>
