<div class="tab effects actions-pane" data-group="primary" data-tab="effects">
    <div class="section-container">
        <div class="section-header">
            <h4>{{localize 'EXITNIHILO.ConditionsLabel'}}</h4>
        </div>
    </div>
    <div class="section-container">
        <div class="section-header">
            <h4>{{localize 'EXITNIHILO.EffectsLabel'}}</h4>
        </div>
    </div>
</div>
