header.char-header {

    .char-role,
    .char-genre {
        height: 100%;
        padding-bottom: 2px;
        width: 70px;

        .role-container {
            height: 100%;
            display: flex;
            flex-direction: column;

            .title {
                margin: 0;
                padding: 0;
                text-align: center;
            }

        }
    }

}