.apparence-container,
.notes-container,
.histoire-container {

    .apparence,
    .notes-diverses,
    .histoire {
        .editor {
            min-height: 130px;
            max-height: 130px;
            border: 1px solid var(--color-border-light-tertiary);
            background: rgba(0, 0, 0, 0.05);

            p {
                margin: 0.2em 0;
            }

            .editor-container {
                min-height: 79px;
                max-height: 79px;
                margin: 0.2em 0.5em 0.2em 0.5em;
            }
        }
    }
}

.personnage-details,
.personnage-biographie,
.personnage-attributs {

    .age-container,
    .taille-container,
    .poids-container,
    .genre-select-container,
    .ethnie-container,
    .profession-container,
    .role-select-container,
    .apparence-container,
    .nationalite-container,
    .lieu-de-naissance-container,
    .slogans-container,
    .croyances-container,
    .gouts-container,
    .aversions-container,
    .allies-container,
    .ennemis-container,
    .organisation-container,
    .histoire-container,
    .notes-container,
    .attribut-container {
        label {
            color: var(--primary);
            font-family: var(--sans-serif);
            font-size: .625rem;
            font-weight: 800;
            line-height: 1;
            margin-right: 2px;
            text-transform: uppercase;
            white-space: nowrap;
        }

        input {
            background-color: rgba(28, 28, 28, .1);
            border-bottom: 1px solid #d3ccbc;
            color: var(--text-dark);
            font-family: var(--body-serif);
            font-weight: 700;
            width: calc(100% - 6px);
        }

        .valeur-a-suffixe {
            display: flex;
            flex-direction: row;

            input {
                width: calc(75% - 6px);
            }

            p {
                color: black;
                font-family: var(--sans-serif);
                font-size: .625rem;
                line-height: 1;
                margin-right: 2px;
                text-transform: uppercase;
                white-space: nowrap;
                font-weight: 500;
            }
        }
    }
}

.personnage-biographie {
    display: grid;
    grid:
        "nationalite lieu-de-naissance" 46px "slogans croyances" 46px "gouts aversions" 46px "allies ennemis" 46px "organisation ." 46px " apparence apparence" 53px " apparence apparence" 53px " apparence apparence" 53px " histoire histoire" 53px " histoire histoire" 53px " histoire histoire" 53px " notes notes" 53px " notes notes" 53px " notes notes" 53px;

    margin-top: 4px;
    flex-wrap: wrap;

    .nationalite-container {
        grid-area: nationalite;
    }

    .lieu-de-naissance-container {
        grid-area: lieu-de-naissance;
    }

    .slogans-container {
        grid-area: slogans;
    }

    .croyances-container {
        grid-area: croyances;
    }

    .gouts-container {
        grid-area: gouts;
    }

    .aversions-container {
        grid-area: aversions;
    }

    .allies-container {
        grid-area: allies;
    }

    .ennemis-container {
        grid-area: ennemis;
    }

    .organisation-container {
        grid-area: organisation;
    }

    .apparence-container {
        grid-area: apparence;
    }

    .histoire-container {
        grid-area: histoire;
    }

    .notes-container {
        grid-area: notes;
    }
}

.attribut-container {
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;


    .radio-principal {
        display: flex;
        flex-direction: row;
        margin: 2px;
        padding: 2px;
        border-radius: 5px;
        width: 165px;

        .valeur {
            flex: 1;
            text-align: center;
        }
    }

    .attribut {
        text-align: center;

        label {
            font-size: 1rem;
            z-index: 5;
        }

        input {
            @include inset-gold-border;
            font-size: 1.75rem;
            border-radius: 25px;
            width: 40px;
            height: 40px;
            background: whitesmoke;
        }
    }

    legend{
        font-size: .625rem;
    }
}

.attribut-container.gauche {
    align-items: flex-end;
}

.attribut-container.droite {
    align-items: flex-start;
}

.personnage-attributs {
    display: grid;
    grid:
        "physique physique . adresse adresse" 95px ". pentagon pentagon pentagon ." 55px "intellect pentagon pentagon pentagon caractere" 100px "intellect pentagon pentagon pentagon caractere" 70px ". social social social ." auto/140px 70px 70px 70px 140px;


    .physique-container {
        grid-area: physique;
        position: relative;
        top: 0px;
        right: -10px;
    }

    .adresse-container {
        grid-area: adresse;
        position: relative;
        top: 0px;
        right: 5px;
    }

    .intellect-container {
        grid-area: intellect;
        position: relative;
        top: 4px;
        right: -20px;

        .intellect {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .caractere-container {
        grid-area: caractere;
        position: relative;
        top: 4px;
        left: -20px;

        .caractere {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .social-container {
        grid-area: social;
        position: relative;
        top: -20px;
        left: -2px;

        .social {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .central-container {
        grid-area: pentagon;
    }

}

.personnage-details {
    display: grid;
    grid:
        "img age taille poids genre" 46px "img role-p role-p ethnie ethnie " auto "img profession profession profession ." auto / 150px 100px 100px 100px 1fr;
    ;
    margin-top: 4px;
    flex-wrap: wrap;

    .frame-container {
        border: none;
        grid-area: img;
        margin-left: 5px;
        margin-right: 10px;

        .frame {
            position: relative;
            z-index: 3;

            .player-image {
                object-fit: cover;
                object-position: top;
                border: none;
                border-radius: 0;
                max-height: 178px;
                width: 100%;
                cursor: pointer;
                @include brown-border;
            }

            [data-action=show-image] {
                position: absolute;
                bottom: 5px;
                right: 0;
            }
        }
    }

    .age-container {
        grid-area: age;
    }

    .taille-container {
        grid-area: taille;
    }

    .poids-container {
        grid-area: poids;
    }

    .genre-select-container {
        grid-area: genre;
    }

    .ethnie-container {
        grid-area: ethnie;
    }

    .profession-container {
        grid-area: profession;
    }

    .role-select-container {

        // je ne sais pas pourquoi mais si je rajoute le grid-area ce block n'est plus en mode column
        //grid-area: role-p;
        .role-select {
            width: unset;
        }
    }
}