<div class="{{idContainer}}-container">
    <div class="competence-complexe {{idContainer}}">
        <div class="titre">{{localize labelContainer}}</div>
        <div class="competence {{id1}}" data-competence-id="{{id1}}">
            <input name="{{referenceLabel1}}" type="text" data-dtype="String" value="{{valeurLabel1}}"
                placeholder="{{localize placeholder}}" size="10" />
            <div class="valeur">{{#skill-dots valeurCompetence1 5}}{{/skill-dots}}
            </div>
        </div>
        <div class="competence {{id2}}" data-competence-id="{{id2}}">
            <input name="{{referenceLabel2}}" type="text" data-dtype="String" value="{{valeurLabel2}}"
                placeholder="{{localize placeholder}}" size="10" />
            <div class="valeur">{{#skill-dots valeurCompetence2 5}}{{/skill-dots}}
            </div>
        </div>
    </div>
</div>