header.char-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);

    .char-details {
        @include micro;
        margin-top: 4px;
        margin-left: 8px;

        h1.char-name {
            margin: 0;
            border: none;
            margin-bottom: 4px;
            span.non-editable {
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0;
                text-shadow: none;
                text-rendering: auto;
                &.gender {
                  font-size: var(--font-size-14);
                }
            }
            input[type='text'], span.non-editable {
                background: none;
                font-family: var(--serif);
                font-weight: 500;
                font-size: var(--font-size-24);
                color: var(--text-light);
                line-height: calc(1em + 1px);
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 1px solid transparent;
                height: 26px;
                &:focus {
                    box-shadow: none;
                    border-bottom: 1px solid var(--text-light);
                }
                &:hover{
                    border-bottom: 1px solid var(--text-light);
                }
            }
        }

        .dots {
            display: flex;
            font-size: var(--font-size-10);
            h4 {
                color: var(--sidebar-label);
                @include micro;
                margin-right: 8px;
                font-weight: 700;
            }
        }
    }

}
