{{log "Actor" this}}
<header class="char-header">
    <section class="char-details">
        <h1 class="char-name">
            <input name="name" type="text" value="{{actor.name}}"
                placeholder="{{localize 'EXITNIHILO.Personnage.NamePlaceholder'}}" spellcheck="false" />
        </h1>
    </section>
    <section class="char-role">
        <div class="role">
            <label>{{localize "EXITNIHILO.Personnage.Role.Title"}}</label>
            <input name="system.details.role.value" type="text" data-dtype="{{actor.system.details.role.type}}"
                value="{{actor.system.details.role.value}}" placeholder="{{localize 'EXITNIHILO.Personnage.Role.PlaceHolder'}}"
                size="10" />
        </div>
        <div class="profession">
            <label>{{localize "EXITNIHILO.Personnage.Profession.Title"}}</label>
            <input name="system.details.biographie.profession.value" type="text" data-dtype="{{actor.system.details.biographie.profession.type}}"
                value="{{actor.system.details.biographie.profession.value}}" placeholder="{{localize 'EXITNIHILO.Personnage.Profession.PlaceHolder'}}"
                size="10" />
        </div>        
    </section>
</header>