{{log "Actor" this}}
<header class="char-header">
    <section class="char-details">
        <h1 class="char-name">
            <input name="name" type="text" value="{{actor.name}}"
                placeholder="{{localize 'EXITNIHILO.Personnage.NamePlaceholder'}}" spellcheck="false" />
        </h1>
    </section>
    <section class="char-role">
        <div class="pentagon-container">
            <div class="pentagon-wrapper">
                <div class="pentagon">
                    <div class="role-container">
                        <img src="systems/exit-nihilo/assets/icons/roles/{{actor.system.details.role.value}}.svg"
                            title="{{localize 'tor2e.sheet.actions.rest.prolonged.description'}}"
                            alt="{{localize 'tor2e.sheet.actions.rest.prolonged.label'}}">
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>