.caracteristiques {
    .caracteristique {
        display: flex;
        flex-direction: row;

        p {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .titre {
            padding-left: 5px;
            flex: 3;
        }

        p.valeur {
            @include inset-gold-border;
            flex: none;
            border-radius: 25px;
            background: whitesmoke;
            color: black;
            text-align: center;
            height: 26px;
            width: 26px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}