<div class="tab competences item-container" data-container-type="actorCompetences" data-group="primary"
     data-tab="competences">
    <section class="personnage-competences-communes">
        <h2>{{localize "EXITNIHILO.Personnage.Competences.Communes.Simples.Titre"}}</h2>

        <div class="competences-container">
            <!-- Colonne 1 -->
            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "argumenter"
                label = actor.system.competences.communes.argumenter.label
                valeurCourante = actor.system.competences.communes.argumenter.value
                extraCss = competenceVisibilite.argumenter
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "athletisme"
                label = actor.system.competences.communes.athletisme.label
                valeurCourante = actor.system.competences.communes.athletisme.value
                extraCss = competenceVisibilite.athletisme
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "baratin"
                label = actor.system.competences.communes.baratin.label
                valeurCourante = actor.system.competences.communes.baratin.value
                extraCss = competenceVisibilite.baratin
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "bricolage"
                label = actor.system.competences.communes.bricolage.label
                valeurCourante = actor.system.competences.communes.bricolage.value
                extraCss = competenceVisibilite.bricolage
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "chercher"
                label = actor.system.competences.communes.chercher.label
                valeurCourante = actor.system.competences.communes.chercher.value
                extraCss = competenceVisibilite.chercher
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "cuisine"
                label = actor.system.competences.communes.cuisine.label
                valeurCourante = actor.system.competences.communes.cuisine.value
                extraCss = competenceVisibilite.cuisine
            }}

            <!-- Colonne 2 -->
            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "discretion"
                label = actor.system.competences.communes.discretion.label
                valeurCourante = actor.system.competences.communes.discretion.value
                extraCss = competenceVisibilite.discretion
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "equitation"
                label = actor.system.competences.communes.equitation.label
                valeurCourante = actor.system.competences.communes.equitation.value
                extraCss = competenceVisibilite.equitation
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "esquiver"
                label = actor.system.competences.communes.esquiver.label
                valeurCourante = actor.system.competences.communes.esquiver.value
                extraCss = competenceVisibilite.esquiver
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "filouterie"
                label = actor.system.competences.communes.filouterie.label
                valeurCourante = actor.system.competences.communes.filouterie.value
                extraCss = competenceVisibilite.filouterie
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "jardinage"
                label = actor.system.competences.communes.jardinage.label
                valeurCourante = actor.system.competences.communes.jardinage.value
                extraCss = competenceVisibilite.jardinage
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "langues"
                label = actor.system.competences.communes.langues.label
                valeurCourante = actor.system.competences.communes.langues.value
                extraCss = competenceVisibilite.langues
            }}


            <!-- Colonne 3 -->
            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "nager"
                label = actor.system.competences.communes.nager.label
                valeurCourante = actor.system.competences.communes.nager.value
                extraCss = competenceVisibilite.nager
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "perception"
                label = actor.system.competences.communes.perception.label
                valeurCourante = actor.system.competences.communes.perception.value
                extraCss = competenceVisibilite.perception
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "psychologie"
                label = actor.system.competences.communes.psychologie.label
                valeurCourante = actor.system.competences.communes.psychologie.value
                extraCss = competenceVisibilite.psychologie
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "secourisme"
                label = actor.system.competences.communes.secourisme.label
                valeurCourante = actor.system.competences.communes.secourisme.value
                extraCss = competenceVisibilite.secourisme
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "survie"
                label = actor.system.competences.communes.survie.label
                valeurCourante = actor.system.competences.communes.survie.value
                extraCss = competenceVisibilite.survie
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-composant.hbs"
                id = "technologie"
                label = actor.system.competences.communes.technologie.label
                valeurCourante = actor.system.competences.communes.technologie.value
                extraCss = competenceVisibilite.technologie
            }}
        </div>
    </section>
    <hr />
    <section class="personnage-competences-complexes">
        <h2>{{localize "EXITNIHILO.Personnage.Competences.Communes.Complexes.Titre"}}</h2>
        <div class="competences-container">
            {{> "systems/exit-nihilo/templates/partials/competence-complexe-composant.hbs"
                idContainer = "arts"
                labelContainer = "EXITNIHILO.Personnage.Competences.Communes.Arts.Titre"
                id1 = "art1"
                id2 = "art2"
                placeholder = "EXITNIHILO.Personnage.Competences.Communes.Arts.Placeholder"
                referenceLabel1 = "system.competences.communes.art1.label"
                referenceLabel2 = "system.competences.communes.art2.label"
                valeurLabel1 = actor.system.competences.communes.art1.label
                valeurLabel2 = actor.system.competences.communes.art2.label
                valeurCompetence1 = actor.system.competences.communes.art1.value
                valeurCompetence2 = actor.system.competences.communes.art2.value
                extraCss1 = competenceVisibilite.art1
                extraCss2 = competenceVisibilite.art2
            }}


            {{> "systems/exit-nihilo/templates/partials/competence-complexe-composant.hbs"
                idContainer = "pilotages"
                labelContainer = "EXITNIHILO.Personnage.Competences.Communes.Pilotages.Titre"
                id1 = "pilotage1"
                id2 = "pilotage2"
                placeholder = "EXITNIHILO.Personnage.Competences.Communes.Pilotages.Placeholder"
                referenceLabel1 = "system.competences.communes.pilotage1.label"
                referenceLabel2 = "system.competences.communes.pilotage2.label"
                valeurLabel1 = actor.system.competences.communes.pilotage1.label
                valeurLabel2 = actor.system.competences.communes.pilotage2.label
                valeurCompetence1 = actor.system.competences.communes.pilotage1.value
                valeurCompetence2 = actor.system.competences.communes.pilotage2.value
                extraCss1 = competenceVisibilite.pilotage1
                extraCss2 = competenceVisibilite.pilotage2
            }}

            {{> "systems/exit-nihilo/templates/partials/competence-complexe-composant.hbs"
                idContainer = "professions"
                labelContainer = "EXITNIHILO.Personnage.Competences.Communes.Professions.Titre"
                id1 = "profession1"
                id2 = "profession2"
                placeholder = "EXITNIHILO.Personnage.Competences.Communes.Professions.Placeholder"
                referenceLabel1 = "system.competences.communes.profession1.label"
                referenceLabel2 = "system.competences.communes.profession2.label"
                valeurLabel1 = actor.system.competences.communes.profession1.label
                valeurLabel2 = actor.system.competences.communes.profession2.label
                valeurCompetence1 = actor.system.competences.communes.profession1.value
                valeurCompetence2 = actor.system.competences.communes.profession2.value
                extraCss1 = competenceVisibilite.profession1
                extraCss2 = competenceVisibilite.profession2
            }}
        </div>
    </section>
</div>
